.env
.env.*
!.env.example
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.git/
.gitignore
.history/
.pytest_cache/
.mypy_cache/
venv/
env/
.venv/
db.sqlite3
*.sqlite3
*.log
media/
mediafiles/
staticfiles/
node_modules/
